<div class="row">
  <div class="col-xs-12 text-center">
    <img src="assets/logo.png" width="120px" class="img-circle logo">
    <h1 class="logo">Route.in.th</h1>
    <form ng-submit="submit()">
      <!--<div class="form-group">
        <select ng-model="input_origin" class="form-control" name="origin" id="origin-selector" style="width:100%">
          <option></option>
          <optgroup label="รถไฟฟ้ามหานคร (MRT)">
            <option value="M1">บางซื่อ</option>
            <option value="M2">กำแพงเพชร</option>
            <option value="M3">สวนจตุจักร</option>
            <option value="M4">พหลโยธิน</option>
            <option value="BW1">BTS สนามกีฬาแห่งชาติ (W1)</option>
          </optgroup>
          <optgroup ng-repeat="system in systems" label="{{system.name}}">
            <option ng-repeat="(key, value) in system['option']" value="{{key}}">{{value["th"]}}</option>
          </optgroup>
        </select>
      </div>
      <div class="form-group">
        <select ng-model="input_destination" class="form-control" name="destination" id="destination-selector" style="width:100%">
          <option></option>
          <optgroup label="รถไฟฟ้ามหานคร (MRT)">
            <option value="M1">บางซื่อ</option>
            <option value="M2">กำแพงเพชร</option>
            <option value="M3">สวนจตุจักร</option>
            <option value="M4">พหลโยธิน</option>
            <option value="BW1">BTS สนามกีฬาแห่งชาติ (W1)</option>
          </optgroup>
          <optgroup ng-repeat="system in systems" label="{{system.name}}">
            <option ng-repeat="(key, value) in system['option']" value="{{key}}">{{value["th"]}}</option>
          </optgroup>
        </select>
      </div> -->

      <div class="form-group">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <select ng-model="origin_system" name="origin-system" class="form-control" id="origin-system-selector">
              <option></option>
              <option ng-repeat="system in systems" value="{{$index}}">{{system.name}}</option>
            </select>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <select ng-model="input_origin" ng-change="update_btn()" name="origin" class="form-control" id="origin-selector">
              <option></option>
              <option ng-repeat="(key, value) in systems[origin_system]['option']" value="{{key}}">{{value["th"]}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <select ng-model="destination_system" name="destination-system" class="form-control" id="destination-system-selector">
              <option></option>
              <option ng-repeat="system in systems" value="{{$index}}">{{system.name}}</option>
            </select>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <select ng-model="input_destination" ng-change="update_btn()" name="destination" class="form-control" id="destination-selector">
              <option></option>
              <option ng-repeat="(key, value) in systems[destination_system]['option']" value="{{key}}">{{value["th"]}}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <button class="btn btn-primary btn-block" ng-disabled="btn_disabled" style="font-size: 1.3em">{{calc_route[ui_lang]}}</button>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
  $('#origin-system-selector').select2({
    placeholder: "เลือกระบบต้นทาง",
    minimumResultsForSearch: Infinity
  });
  $('#origin-selector').select2({
    placeholder: "เลือกสถานีต้นทาง"
  });

  $('#destination-system-selector').select2({
    placeholder: "เลือกระบบปลายทาง",
    minimumResultsForSearch: Infinity
  });
  $('#destination-selector').select2({
    placeholder: "เลือกสถานีปลายทาง"
  });
</script>
